.primary {
  background: rgb(232, 232, 255);
  color: #5575f7;
  border-radius: 100px;
  padding: 2px 12px;
  font-size: 12px;
  font-weight: 800;
}

.secondary {
  border: 1px solid #5575f7;
  border-radius: 100px;
  padding: 2px 12px;
  font-size: 12px;
  font-weight: 800;
  color: #5575f7;
}

