.primary {
  background: rgb(255, 232, 243);
  color: #ee7ea5;
  border-radius: 100px;
  padding: 2px 12px;
  font-size: 12px;
  font-weight: 800;
}

.secondary {
  border: 1px solid #ee7ea5;
  border-radius: 100px;
  padding: 2px 12px;
  font-size: 12px;
  font-weight: 800;
  color: #ee7ea5;
}

