.main {
  flex: 1;
  padding: 0.35rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-content: center;
}

.img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  
}

.Card {
  align-items: center;
}

.profileImg {
  max-width: 80px;
  max-height: 80px;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  align-items: center;
  border: 3px solid white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  
}

.name {
  color: #3b3b3b;
  font-size: 16px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 0;
}
.email {
  color: #6e6e6e;
  padding: 0;
}

.linksFooter {
  display: flex;
  gap: 16px;
  text-decoration: none;
  list-style: none;
  padding-top: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.linksFooter li a {
  width: 40px;
  height: 40px;
  background-color: white;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  display: block;
  border-radius: 20%;
  border: 0.75px solid #a855f7;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.linksFooter li a i {
  position: relative;
  color: #a855f7;
  transition: 0.5s;
  z-index: 3;
  margin: 0;
}

.linksFooter li a:hover i {
  color: #a855f7;
  transform: rotateY(360deg);
}

.linksFooter li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 2;
}

.linksFooter li a:hover:before {
  top: 0;
}

.linksFooter li:nth-child(1) a:before {
  background: #e8e0f0;
}

.linksFooter li:nth-child(2) a:before {
  background: #e8e0f0;
}

.linksFooter li:nth-child(3) a:before {
  background: #e8e0f0;
}