h2 {
  color: rgb(54, 54, 54);
}

h4 {
  color: rgb(102, 102, 102);
  font-weight: 500;
}

.grid {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}

.loading {
  font-size: 14px;
  color: #444444;
  font-weight: 600;
}
