.container {
  width: 100%;
}

.tabsHeader {
  display: flex;
  gap: 10px;
    padding: 16px 0 0px;
    margin-bottom: 24px;
  width: 80%;
   border-bottom: 1px solid #e5e7eb;
}

.tabsBtn {
  text-decoration: none;
  padding: 12px 18px;
}

.active {
  border-bottom: 2px solid #cd6b88;
  border-radius: 0;
  text-decoration: none;
}

.tabsBtn:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .tabsHeader {
    display: flex;
    gap: 0;
    padding: 0px;
    margin-bottom: 16px;
    width: 100%;
    gap: 16px;
    border-bottom: 1px solid #e5e7eb;
  }
}

@media (min-width: 768px) {
  .tabsHeader {
    width: 100%;
  }
}
