.card {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  padding: 16px;
}

.card.upgradeCard {
  background: linear-gradient(144deg, rgb(245, 168, 186) 0%, #d7637b 100%);
  height: fit-content;
  padding: 18px;
  margin-bottom: 1.5rem;
  overflow-y: auto;
  border: 1px solid #ff5f7c;
}

@media (max-width: 768px) {
  .card.upgradeCard {
    padding: 14px;
  }
}


