/* sidebar */

.sidebar {
  width: 260px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .sidebar {
    width: 70px;
    padding: 1.5rem 0.5rem;
  }
}

/* Container do logo */
.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.55rem;
  padding-top: 16px;
}

@media (max-width: 768px) {
  .logoContainer {
    display: flex;
    justify-content: space-around;
  }
}

.logoText {
  font-weight: bold;
  font-size: 20px;
  color: rgb(79, 79, 79);
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .logoText {
    display: none;
  }
}

/* nav  */
.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 40px 0 50px;
}

.nav a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .nav h4 {
    display: none;
  }
}

/* bottom nav */
.bottomNav {
  margin-top: auto;
}

@media (max-width: 768px) {
  .bottomNav h3 {
    display: none;
  }
}

/* card Upgrade */
.titleCard {
  color: rgb(255, 255, 255);
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 20px;
}

.titlesSubTitle {
  color: rgb(255, 255, 255);
  padding-bottom: 14px;
  font-weight: 500;
  font-size: 14px;
}

@media (max-width: 768px) {
  .titlesSubTitle {
    display: none;
  }
}
/* button do Get Premium */

.button {
  justify-content: flex-start;
  width: 100%;
}

@media (max-width: 768px) {
  .buttonUpgrade {
    display: none;
  }
}
.primaryButton {
  background-color: #ffffff;
  color: #323232;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .primaryButton {
    padding: 0;
    justify-content: center;
    background-color: transparent;
    color: white;
  }
}

.primaryButton:hover {
  border-radius: 14px;
  transform: rotate(4deg);
}

@media (max-width: 768px) {
  .primaryButton:hover {
    transform: none;
    background-color: transparent;
  }
}

.primaryButton:hover::before {
  opacity: 0.5;
  transform: scale(2);
}

/* Hamburguer menu */
.hamburguer {
  border-radius: 0;
}

.closed .hamburguer {
  border: none;
  margin: 0;
  padding: 16px;
}

.open .hamburguer {
  padding: 24px 16px 16px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .open .hamburguer {
    display: flex;
    justify-content: space-around;
  }
}

.closed {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  padding: 0;
}
