/* sidebar */

.sidebar {
  width: fit-content;
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

/* Hamburguer menu */

.closed {
  min-width: fit-content;
  height: fit-content;
  overflow: hidden;
  padding: 0.2rem;
}

@media (max-width: 768px) {
  .btnHamburguer {
    display: none;
  }
}
/* Container do logo */

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.55rem;
}

.logoText {
  font-weight: bold;
  font-size: 20px;
  color: rgb(79, 79, 79);
}

a {
  text-decoration: none;
}

/* nav  */

.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 40px 0 50px;
}

.nav a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .profileForMobile {
    display: none;
  }
}

/* bottom nav */

.bottomNav {
  margin-top: auto;
}

/* card Upgrade */

.titleCard {
  color: rgb(255, 255, 255);
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 20px;
}

.titlesSubTitle {
  color: rgb(255, 255, 255);
  padding-bottom: 14px;
  font-weight: 500;
  font-size: 14px;
}

/* button do Get Premium */

.button {
  justify-content: flex-start;
  width: 100%;
}

.primaryButton {
  background-color: #ffffff;
  color: #323232;
  display: flex;
  justify-content: space-between;
}

.primaryButton:hover {
  border-radius: 14px;
  transform: rotate(4deg);
}

.primaryButton:hover::before {
  opacity: 0.5;
  transform: scale(2);
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    border-radius: 44px;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  .sidebarHeader {
    flex-direction: row-reverse;
  }

  .profileForDesktop {
    display: none;
  }

  .open {
    width: 100%;
    height: auto;
    padding: 0.5rem;
  }

  .closed {
    width: fit-content;
    padding: 0.5rem;
  }

  .sidebarHeader {
    width: auto;
  }

  .logoText,
  .nav h4 {
    display: none;
  }

  .nav {
    flex-direction: row;
    padding: 0;
    display: flex;
    align-items: center;
    padding-left: 56px;
    width: 100%;
    justify-content: space-between;
    padding-right: 16px;
  }

  .bottomNav {
    display: none;
  }

  .button {
    width: auto;
    padding: 8px;
  }
}
