/* loading */

.loading {
  font-size: 18px;
  color: #444444;
  font-weight: 600;
}

/* header */

.containerHeader {
  display: flex;
  justify-content: space-between;
}

.title {
  color: rgb(54, 54, 54);
  padding-bottom: 16px;
}


