button {
  font-family:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
  gap: 10px;
  border: 0px;
  cursor: pointer;
  padding: 12px 16px;
  background-color: #a855f7;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

.primary {
  background-color: #a855f7;
  color: #ffffff;
}

.primary.active,
.tertiary.active {
  background-color: #f4efff;
  color: #a855f7;
  font-weight: bold;
  cursor: default;
}

.primary:hover {
  background-color: #632a9a;
  color: #ffffff;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.secondary {
  background-color: #ffffff;
  color: #a855f7;
  border: 1px solid #a855f7;
}

.secondary:hover {
  background-color: #ebd8fd;
  color: #6c21b2;
}

.tertiary {
  background-color: #ffffff;
  color: #697281;
}

.tertiary:not(.active):hover {
  background-color: #f6f6f6;
  color: #697281;

}

.link {
  background-color: transparent;
  color: #a855f7;
  text-decoration: underline;
}

.link:hover {
  background-color: transparent;
  color: #6c21b2;
  text-decoration: underline;
}