#sidebar {
  display: flex;
  height: 100vh;
  background-color: #f5f3f3;
  overflow: hidden;
  padding: 1.5rem; /* Padding do Desktop */
  gap: 1rem;
}

.main {
  flex: 1;
  padding: 0.35rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  #sidebar {
    flex-direction: column;
    padding: 0;
    gap: 0;
    height: auto;
    overflow: visible;
  }

  .main {
    padding: 1.5rem;
    flex: none;
  }
}
