#sidebar {
  display: flex;
  height: 100vh;
  background-color: #f5f3f3;
  overflow: hidden; 
  padding: 1.5rem; 
  gap: 1rem;
}

.main {
  flex: 1;
  min-width: 0; 
  padding: 0.35rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
}

@media (max-width: 768px) {
  #sidebar {
    flex-direction: column;
    padding: 1.5rem;
    gap: 0;
    height: auto;
    overflow: visible;
  }

  .main {
    padding: 1.5rem;

  }
}

